.App {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
}

.Flex {
  display: flex;
}

.Stack {
  flex-direction: column;
}

.Card {
  background: #eaeaea;
  padding: 12px;
  margin: 6px;
}

.Split {
  justify-content: space-between;
}
