/* Utilites, aka Junk Drawer */
.margin {
  margin: 10px;
}

/* Trash icon */
.trash {
	cursor: pointer;
	visibility: hidden;
}
.trash-show {
	visibility: visible;
}

.animated {
	animation-duration: 0.2s;
}

.editIcon {
  cursor: pointer;
  padding: 0 5px;
}
